@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Kalam&family=Montserrat:wght@300&family=Pompiere&family=Source+Sans+Pro:ital,wght@0,200;1,200&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
a:hover {
  text-decoration: none;
}

.navbar {
  background-color: #d2691e;
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}
.navbar .navbar-brand {
  color: #FFD17C;
  font-size: 30px;
  text-transform: uppercase;
}
.navbar .nav-actual {
  color: rgba(253, 253, 252, 0.9450980392) !important;
}

.nav-redes img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.nav-redes a.nav-link {
  margin: 0px;
  padding: 0px !important;
}

.navbar-nav.ml-auto.flex-row img {
  margin-right: 18px;
}

.movil {
  display: none;
}

.carousel-inner {
  height: 420px;
}

.carousel-item {
  margin-top: 20px;
  text-align: center;
}
.carousel-item img {
  width: 900px;
  height: 300px;
  margin: 40px;
  border-radius: 40px;
}
.carousel-item h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  color: #4B0D00;
  margin: 0;
}
.carousel-item p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: black;
}
.carousel-item .claro {
  color: rgba(253, 253, 252, 0.9450980392);
}

.carousel-indicators li {
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-right: 10px;
}

main {
  height: auto;
  background-image: linear-gradient(rgba(206, 152, 72, 0.4), rgba(206, 152, 72, 0.1)), url(media/fondo\ 12\ mm.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
main h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgba(253, 253, 252, 0.9450980392);
  padding: 30px 0px 10px 40px;
  font-size: 28px;
}

.prod {
  height: 100vh;
}
.prod table {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
}
.prod .btn {
  background-color: #d2691e;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  color: rgba(253, 253, 252, 0.9450980392);
  padding: 20px 30px 20px 30px;
  margin-left: 10px;
}

.principal {
  background-color: rgba(255, 255, 255, 0.445);
  padding: 40px;
  text-align: center;
  margin-top: 20px;
}
.principal h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: #d2691e;
  text-align: left;
  padding-left: 20px;
}
.principal h3 {
  font-family: "Montserrat", sans-serif;
}
.principal p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.principal .btn {
  background-color: #d2691e;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: rgba(253, 253, 252, 0.9450980392);
  font-weight: lighter;
}

.productos {
  width: 100%;
}
.productos aside a img {
  border: 3px solid rgb(253, 253, 252) !important;
  border-radius: 4px;
  margin-bottom: 50px;
}
.productos aside a :hover {
  transition-duration: 0.1s;
  filter: sepia(50%);
}
.productos aside p {
  text-align: center !important;
  padding: 0px;
}

.sobreMi aside img {
  margin-left: 20px;
}
.sobreMi aside {
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.445);
  padding: 40px;
}
.sobreMi aside h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.sobreMi aside p {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: justify;
}

footer {
  background-color: #FFD17C;
  text-align: center;
  font-family: "Kalam", cursive;
  font-size: 20px;
  color: rgba(24, 23, 22, 0.712);
  padding: 20px;
}
footer a {
  color: #d2691e;
}
footer div ul li {
  display: inline-block;
  padding-top: 15px;
}
footer div ul li :hover {
  color: #4B0D00;
}

.redes a {
  font-size: 30px;
  color: rgba(24, 23, 22, 0.712);
  letter-spacing: 10px;
}

.redes a:hover {
  color: rgb(253, 253, 252);
  text-shadow: 0 0 5px gray;
}

@media only screen and (max-width: 470px) {
  .desktop {
    display: none;
  }
  .movil {
    display: flex;
  }
  .carousel-inner {
    height: 325px;
  }
  .carousel-item img {
    width: 230px;
    height: 200px;
  }
  .carousel-item h3 {
    font-size: 20px;
    margin-bottom: 85px;
  }
  .principal p {
    font-size: 16px;
  }
  .sobreMi aside img {
    margin: 0px;
  }
  .sobreMi aside p {
    margin-left: 0px;
    font-size: 16px;
  }
  .prod {
    height: auto;
  }
  .prod table {
    font-size: 16px;
    margin-bottom: 30px;
  }
  footer div ul {
    -webkit-padding-end: 40px;
            padding-inline-end: 40px;
  }
  footer div ul li {
    display: block;
  }
}/*# sourceMappingURL=estilos.css.map */